@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kaushan+Script&family=Merienda:wght@300..900&family=Outfit:wght@100..900&family=Prata&family=The+Nautigal:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: gray;
    border-color: black;
}
*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: black;
    border-radius: 4px;
}